<!-- templates/base.html -->
{% load static %}

<html>
	<head>
		<title>Django blog</title>
		<link href="https://fonts.googleapis.com/css?family=\
		Source+Sans+Pro:400" rel="stylesheet">
		<link href="{% static 'css/base.css'}" rel="stylesheet">
	</head>
	<body style="background-color:#fc4b18;">
	<div>
		<header>
			<div class="nav-left">
				<center>
				<h1><a href="{% url 'home' %}">hola programación...!!!</a></h1>
				</center>
				<center>
				{% load static %}<img src="{% static 'media/Lógica-de-programação-Blog.png' %}" width="1345" height="200" alt="home"/>
				</center>
					
			<div>
		<div class="nav-right">
			<br/>		
			<a href="{% url 'post_new' %}">+ <strong>...Crea tu publicación here!</strong></a>
			<img src="{% static 'media/iniciar-en-programacion1.png' %}" width="600" height="400" align="right" />
			<br/><br/><br/>
		<div>
		</header>
		{% block content %}
		{% endblock content %}
	</div>
	</body>
</html>